* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body::after{
    content: "";
    position: fixed;/*固定表示*/
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999; /*他のスタッキングコンテキストとかち合った時用*/
    background: #b5fddf; /*シャッターの色*/
    animation: min-anim .5s forwards; /*アニメーション付与*/
    animation-delay: 1s; /*好みで遅延*/
    transform-origin: top; /*変化の起点*/
  }
  /*背景が縮むアニメーション*/
  @keyframes min-anim{
    0% {
      transform: scaleY(1);/*画面全体を覆う*/
    }
    100% {
      transform: scaleY(0);/*高さ0*/
      visibility: hidden; /*非表示*/
    }
  }

  
h1 {
    font-size: 40px;
    text-decoration: underline;
    text-decoration-color: aquamarine;
    margin: 10px 0 30px 0;
}

h2 {
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: aquamarine;
}

ul {
    padding: 30px 0;
    margin: 0 25px;
    display: flex;
    margin-top: 30px;
    margin-bottom: 100px;
    justify-content: center;
    gap: 30px;
    color: #668ad8;
    border: dashed 2px #668ad8;
    background: #f1f8ff; 
}

ul li {
    width: 50%;
    list-style: none;
}

ul li p {
    text-align: left;
    line-height: 3;
    font-size: 18px;
    margin-left: 10px;
}

ul .txt {
    width: 40vw;
}

ul li img {
    width: 50vw;
}

ul li video {
    width: 50vw;
}

.button-048 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 80px;
    margin: 0 auto;
    padding: .9em 2em;
    border: none;
    border-radius: 25px;
    background-color: #2589d0;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
    text-decoration: none;
    transition: all 0.3s;
}

.button-048::before {
    position: absolute;
    right: calc(2em + 2.5px);
    transform: translateX(50%);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #fff;
    content: '';
}

.button-048::after {
    transform: rotate(45deg);
    width: 5px;
    height: 5px;
    margin-left: 10px;
    border-top: 3px solid #2589d0;
    border-right: 3px solid #2589d0;
    content: '';
}

.button-048:hover {
    color: black;
    background-color: aquamarine;
}

.button-048:active {
    transform: translateY(10px);
}

footer {
    margin-top: 100px;
    padding: 30px 0;
    background-color: aquamarine;
    text-align: center;
} 